.card {
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #333 !important;
  text-decoration: none !important;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* ÁREA DA IMAGEM */
.imageContainer {
  width: 100%;
  height: 190px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f7f7f7;

  padding: 15px;
  box-sizing: border-box;
  border-radius: 0 !important;
}

/* IMAGEM */
.img {
  display: block;

  width: auto;
  height: auto;

  max-width: 100%;
  max-height: 160px;
  border-radius: 0 !important;
  object-fit: contain;
}

/* CONTEÚDO */
.content {
  min-height: 145px;

  padding: 18px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* TÍTULO */
.productTitle {
  margin: 0 0 18px 0 !important;

  color: #3f4a54 !important;

  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.3 !important;
  text-align: center;

  display: -webkit-box;
  /*-webkit-line-clamp: 3;*/
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* BOTÃO */
.button {
  width: 100%;
  margin-top: auto;
  padding: 10px 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  background-color: #ffffff;
  color: #202020 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.card:hover .button {
  background: #0096d5;
  color: #ffffff !important;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 767px) {
  .imageContainer {
    height: 120px !important;
    padding: 10px !important;
    border-radius: 0 !important;
  }

  .img {
    max-height: 105px !important;
    border-radius: 0 !important;
  }

  .content {
    min-height: 105px !important;
    padding: 12px !important;
  }

  .productTitle {
    margin: 0 0 12px 0 !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
  }

  .button {
    width: 100% !important;
    max-width: 100% !important;

    padding: 7px 8px !important;

    font-size: 11px !important;
    line-height: 1.2 !important;

    white-space: nowrap !important;
    flex-wrap: nowrap !important;
  }
}
